* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(49, 125, 173);
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

ul {
  list-style-type: none;
  & li {
    cursor: pointer;
  }
}
